body {
  background-color: #F4F4F4;
  margin: 0 auto;
  font-family: "Poppins", serif;
}

.container {
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 8em;

  p {
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 30px;
  }
}