.login-container {
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        font-size: 24px;
        font-weight: 300;
    }

    .login-form {
        display: flex;
        flex-direction: column;

        height: 75%;
        width: 75%;

        .login-input {
            height: 3em;
            margin: 1em;
            padding-left: 0.5em;

            border-radius: 10px;
            border-color: transparent;
            background-color: #F0F0F0;
        }
        .login-input:focus {
            outline: none;
        }

        .login-button {
            font-family: "Poppins", serif;
            font-weight: 400;

            width: 100%;
            height: 3em;

            margin: 5em 0;

            border-radius: 30px;
            border: none;
            background-color: #ccf1ea;

            box-shadow: 0 5px #789e9c;

            cursor: pointer;
        }

        .login-button:hover {background-color: #B1D6CD;}

        .login-button:active {
            background-color: #B1D6CD;
            box-shadow: 0 3px #527876;
            transform: translateY(4px);
        }
    }
}