.container-search {
    font-family: "Poppins", serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;

    width: 50%;
    height: 50px;

    border-radius: 50px;

    .search-box {
        width: 100%;
        border: none;
        background-color: transparent;
        margin-left: 1.5em;
    }
    .search-box:focus {
        outline: none;
    }

    .search-button {
        width: 4em;
        height: inherit;
        margin-right: 1.5em;
        border: none;
        background-color: transparent;

        img {
            width: inherit;
            height: inherit;

            cursor: pointer;
        }
    }
}