.book-container {
    margin: 4em 3em;

    .books-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(3em, 1fr));
        gap: 2em 3em;

        justify-content: center;
        margin: 3em 5em;
    }

    .book {
        width: 75%;
        height: 90%;

        place-items: center;
        justify-self: center;
        align-self: center;

        text-align: center;

        padding: 2em;
        background-color: #F9F9F9;

        box-shadow: #dfdfdf 2px 2px 5px;
        border-radius: 5px;

        img {
            width: 150px;
            height: 250px;
            cursor: pointer;

            box-shadow: #dfdfdf 2px 2px 5px;
        }

        .book-info {
            width: 100%;
            height: fit-content;
            margin: 0.5em;

            p { cursor: pointer;}

            .title { font-size: 16px;}

            .author { font-size: 14px;}

            .year { font-size: 12px;}

            .add-to-button {
                font-family: "Poppins", serif;
                font-weight: 400;

                width: 75%;

                border-radius: 30px;
                border: none;
                background-color: #ccf1ea;

                box-shadow: 0 4px #789e9c;

                cursor: pointer;
            }

            .add-to-button:hover {
                background-color: #B1D6CD;
            }

            .add-to-button:active {
                background-color: #B1D6CD;
                box-shadow: 0 2px #527876;
                transform: translateY(4px);
            }
        }
    }
}