.login-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8em;

  height: 60vh;

  margin: 12em 12em 0 12em;

  .login-div {
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    position: relative;

    box-shadow: #dfdfdf 2px 2px 5px;
    border-radius: 5px;
  }

  .signup-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 100%;
    background-color: #f9f9f9;

    box-shadow: #dfdfdf 2px 2px 5px;
    border-radius: 5px;

    p {
      font-size: 24px;
      font-weight: 300;
      margin: 0.5em;
      text-align: center;
    }

    .click-here-button {
      font-family: "Poppins", serif;
      font-weight: 400;

      text-decoration: none;
      text-align: center;

      color: #272727;

      width: 75%;
      height: 2em;

      margin: 5em 0;

      border-radius: 30px;
      border: none;
      background-color: #ccf1ea;

      box-shadow: 0 5px #789e9c;

      cursor: pointer;
    }

    .click-here-button:hover {
      background-color: #b1d6cd;
    }

    .click-here-button:active {
      background-color: #b1d6cd;
      box-shadow: 0 3px #527876;
      transform: translateY(4px);
    }
  }
}
