.user-page-container {
    margin: 0 2em;

    .user-info {
        margin: 10em 2em 2em 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .user-name {
            font-size: 22px;
            margin: 0;
        }

        .user-email {
            font-size: 16px;
            margin: 1em 0 0.5em 0;
        }

        .edit-button {
            font-family: "Poppins", serif;
            font-weight: 400;

            width: 4em;
            height: 2em;

            border-radius: 30px;
            border: none;
            background-color: #ccf1ea;

            box-shadow: 0 5px #789e9c;

            cursor: pointer;
        }

        .edit-button:hover {
            background-color: #B1D6CD;
        }

        .edit-button:active {
            background-color: #B1D6CD;
            box-shadow: 0 3px #527876;
            transform: translateY(4px);
        }
    }
}
